name: Update requirements.txt
on:
  push:
    branches: [main]
    paths:
      - 'pyproject.toml'
  workflow_dispatch:
jobs:
  update-requirements:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Install pip-tools
        run: |
          pip install --upgrade pip
          pip install pip-tools>=7.4.0
      
      - name: Compile requirements
        run: pip-compile pyproject.toml -o requirements.txt --resolver=backtracking
      
      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add requirements.txt
          git diff --staged --quiet || git commit -m "chore: Update requirements.txt"
          git push
